.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    min-height: 70px;
    height: auto;
    .social__footer{
        margin: 1rem 0;
        .icons__footer{
            display: grid;
            grid-template-columns: repeat(4,2fr);
            justify-content: space-between;
            font-size: 20px;
            
            transition: 200ms;
            .home__social-icon{
                color: var(--title-color);
                margin: 2px 4px;
                transition: 200ms;
                &:hover{
                    color: var(--title-color-dark);
                    transform: translateY(-3.5px);
                }
            }
        }
    }
    .footer__message{
        a{
            color: var(--title-color);
            &:hover{
                font-weight: 300ms;
            }
        }
    }
}

@media screen and (min-width: 350px) {
    .social__footer{
        display: none;
    }
    
}